html
    head
    body
        form(id="form-enregistrement")
            div(class="group-field")
                label(for="input-nom") Nom
                input(id="input-nom", type="text", name="nom")
            div(class="group-field")
                label(for="input-prenom") Prénom
                input(id="input-prenom", type="text", name="prenom")
            div(class="group-field")
                label(for="input-tel") Numéro
                input(id="input-tel", type="text", name="tel")